{% extends "base.html" %}
{% load thumbnail %}
{% load easy_maps_tags %}

{% block css %}
	{{ block.super }}
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="{{STATIC_URL}}css/magnific-popup.css">
	<!-- Magnific Popup developer init CSS file -->
	<link rel="stylesheet" href="{{STATIC_URL}}css/magnific-popup.init.css">
{% endblock %}

{% block content %}
<!-- ######################## Header ######################## -->
<header>
	<div class="row">
		<article>
			<div class="twelve columns">
				<h1>{{ flat.name }}</h1>
				<p class="excerpt">{{ flat.overview }}</p>
			 </div>
		</article>
	</div>
</header>
<!-- ######################## Section ######################## -->

<section>
	<div class="section_main">
		<div class="row">
			<section class="eight columns">

				{% for int in interior %}
					<article class="blog_post">
						<div class="gallery-container">
							<div class="three columns">
								{% if not int.panorama %}
									<a class="th lightbox" href="{{ MEDIA_URL }}{{ int.photo }}" title="{{ int.name }}">
								{% else %}
									<a class="th" href="{% url 'flats:panorama' flat.id int.id %}">
								{% endif %}
									<img src="{{ int.thumb_url }}" alt="{{ int.name }}"></a>
							</div>

							<div class="nine columns">
									<h3>{{ int.name }}</h3>
									<p>{{ int.description }}</p>
							</div>
						</div>
					</article>
				{% endfor %}

			</section>

			<section class="four columns">
{#					<h2>Sidebar</h2>#}
				<div class="panel">
{#					<h3>Price</h3>#}
					<p><strong>Price:</strong> {{ flat.price }} $</p>
					<p><strong>Status:</strong>
						{% if flat.isFree %}
							Free
						{% else %}
							Boocked
						{% endif %}
					</p>
					<h3>SubMenu</h3>
					<ul class="accordion">

						<li class="active">
							<div class="title">
								<span class="dropcap_grey lsf-icon-accordion" title="geo"></span>
								<h5>Where it is?</h5>
							</div>
							<div class="content">
								<p>Google maps says
									<a class="gmap" href="https://maps.google.com/maps?q={{ flat.geo_lat }},{{ flat.geo_lng }}&hl=en" >here</a>
								</p>
							</div>
						</li>

						<li>
							<div class="title">
								<span class="dropcap_grey lsf-icon-accordion" title="shopping"></span>
								<h5>I want it!</h5>
							</div>
							<div class="content">
								<p>Contact me</p>
							</div>
						</li>

						<li>
							<div class="title">
								<span class="dropcap_grey lsf-icon-accordion" title="pc"></span>
								<h5>For big monitors</h5>
							</div>
							<div class="content">
								<p>
									<a href="{% url 'flats:gallery' flat.id %}">Page variant</a> with big traffic for desktops</p>
							</div>
						</li>

						<li>
							<div class="title">
								<span class="dropcap_grey lsf-icon-accordion" title="tile"></span>
								<h5>Find out more</h5>
							</div>
							<div class="content">
								<p>Choose suitable appartment in <a href="{% url 'flats:index' %}">price table</a> </p>
							</div>
						</li>

					</ul>

				</div>
			</section>

		</div>
	</div>
</section>
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="{{STATIC_URL}}js/jquery.magnific-popup.js"></script>
	<!-- Magnific Popup developer initiation -->
	<script src="{{STATIC_URL}}js/jquery.magnific-popup.init.js"></script>
{% endblock %}