{% extends "base.html" %}
{% load flat_tag %}

{% block content %}
<!-- ######################## Header ######################## -->

<header>
	  <h1 class="heading_supersize">Apartments</h1>
</header>

<!-- ######################## Section ######################## -->
<section class="section_light">
	<div class="row" style="padding-top: 20px">
		{% if flat_list %}
			{% for flat in flat_list %}
				<div class="four columns">
					<ul class="pricing-table">
						<li class="title">{{ flat.name }}</li>
						<li class="price">Price per day:{{ flat.price }}$</li>
						<li class="description">{{ flat.overview }}</li>
						<li class="bullet-item">Status:
							{% if flat.status %}Ready for you!
							{% else %}Boocked.
							{% endif %}
						</li>
						<li class="bullet-item">Rooms: {{ flat.roomNumber }}</li>
						<li class="cta-button"><a class="button" href="{% url 'flats:detail' flat.id %}">View tour &raquo;</a></li>
					</ul>
				</div>
			{% endfor %}
		{% else %}
			<p>No flats are available.</p>
		{% endif %}
	</div>
</section>

{% endblock %}