<li class="has-flyout">
<a href="#">Apartments</a><a href="#" class="flyout-toggle"></a>
<ul class="flyout"><!-- Flyout Menu -->
	{% for flat in flats %}
		{% if flat.published %}
			<li class="has-flyout"><a href={% url 'flats:detail' flat.id %}>{{ flat.name }}</a></li>
		{% endif %}
	{% endfor %}
</ul>
</li><!-- END Flyout Menu -->