{% extends "base.html" %}

{% block css %}
{{ block.super }}
	<link rel="stylesheet" href="{{STATIC_URL}}css/panorama360.css"/>
{% endblock %}

{% block content %}
<!-- ######################## Header ######################## -->
<header>
	<div class="row">
		<article>
			<div class="twelve columns">
				<h1>{{ flat.name }}</h1>
				<p class="excerpt">{{ flat.overview }}</p>
			</div>
		</article>
	</div>
</header>

{% for int in interior %}
<!-- ######################## Section ######################## -->
	{% if not int.panorama %}
		<section class="section_light">
			<div class="row">
				<h2 style="text-align:center">{{ int.name }}</h2>
				<img src="{{ MEDIA_URL }}{{ int.photo }}"/>
			</div>
		</section>
	{% else %}
		<section class="section_dark">
			<div class="row">
				<h2 style="text-align:center">{{ int.name }}</h2>
				<div class="panorama" style="height:500px;">
					<div class="panorama-view">
						<div class="panorama-container">
							<img src="{{ MEDIA_URL }}{{ int.photo }}" data-height="500" data-width="{{ int.photo.width }}" alt="panorama"/>
						</div>
					</div>
				</div>
{#				<img src="{{ MEDIA_URL }}{{ int.photo }}"/>#}
			</div>
		</section>
	{% endif %}
{% endfor %}

{% endblock%}

{% block scripts %}
	{{ block.super }}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery.mousewheel.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery.panorama360.js"></script>
	<script>
	<!--
		$(function(){
			$('.panorama-view').panorama360();
		});
	-->
	</script>
{% endblock %}