<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Panorama 360&deg;</title>
	<meta name="description" content="panorama vieiw" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/panorama360.css" media="all" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery.mousewheel.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery.panorama360.js"></script>
	<script>
	<!--
		$(function(){
			$('.panorama-view').panorama360();
		});
	-->
	</script>
</head>
<body>
	<div class="panorama">
		<div class="panorama-view">
			<div class="panorama-container">
				<img src="{{ MEDIA_URL }}{{ interior.photo }}" data-height="{{ interior.photo.height }}" data-width="{{ interior.photo.width }}" data-width="{{ interior.photo.width }}" alt="panorama"/>
			</div>
			<a class="info round" href="{{ SITE }}{% url 'flats:detail' flat_id=flat.id %}">Go back</a>
		</div>
	</div>
</body>
</html>
