{% extends "base.html" %}

{% block content %}
<!-- ######################## Header ######################## -->

<header>
	<h2 class="heading_supersize">Sorry</h2>
	<h3 class="welcome_text">There are not such page</h3>
</header>

{% endblock %}