<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stati-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>

	<meta charset="utf-8" />
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>Where2stay</title>

	{% block css %}
		<!-- Included CSS Files (Compressed) -->
		<link rel="stylesheet" href="{{STATIC_URL}}css/foundation.min.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/app.css">
		<script src="{{STATIC_URL}}js/modernizr.foundation.js"></script>
		<link rel="stylesheet" href="{{STATIC_URL}}css/ligature.css">
	{% endblock %}

	<!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>
<!-- ######################## Main Menu ######################## -->

{% block menu %}
	{% load flat_tag %}
	<nav>
		<div class="twelve columns header_nav">
			<div class="row">
				<ul id="menu-header" class="nav-bar horizontal">
					<li class=""><a href="{% url 'home' %}">Home</a></li>
					{% show_flat_list %}
					<li class=""><a href="{% url 'contact' %}">Contacts</a></li>
				</ul>
				<script type="text/javascript">
				//<![CDATA[
				$('ul#menu-header').nav-bar();
				//]]>
				</script>
			</div>
		</div>
	</nav>
{% endblock %}

{% block content %}
{% endblock %}

<!-- ######################## Footer ######################## -->
<footer>

      <div class="row">
      
          <div class="twelve columns footer">
              <a href="http://twitter.com/dieterarno" class="lsf-icon" style="font-size:16px; margin-right:15px" title="twitter">Twitter</a> 
              <a href="https://www.facebook.com/sergei.wilson" class="lsf-icon" style="font-size:16px; margin-right:15px" title="facebook">Facebook</a>
              <a href="https://www.airbnb.ru/users/show/6322184" class="lsf-icon" style="font-size:16px; margin-right:15px" title="global">Airbnb</a>
              <a href="http://about.me/mcgr0g/" class="lsf-icon" style="font-size:16px" title="power">Powered by mcgr0g</a>
          </div>
          
      </div>

</footer>		  

<!-- ######################## Scripts ######################## -->

{% block scripts %}
	<script src="{{STATIC_URL}}js/foundation.min.js" type="text/javascript"></script>
	<script src="{{STATIC_URL}}js/app.js" type="text/javascript"></script>
{% endblock %}

</body>
</html>