{% extends "base.html" %}

{% block content %}
<!-- ######################## Header ######################## -->
        
<header>
	<h1 class="welcome_text">Contact Page</h1>
</header>
   
<!-- ######################## Section ######################## -->
      
<section class="section_light">
	<div class="row">
        <div class="six columns">
{#			<h3>Address</h3>#}
{#			<p><strong>Business INC</strong></p>#}
{#			<p>Telephone: 99 88 77 66<br />#}
{#			E-mail: mail@doe.com</p><!-- // MAILCHIMP SUBSCRIBE CODE \\ -->#}
{#			<p><a href="#">Subscribe to Newsletter</a></p>#}
{#			<!-- \\ MAILCHIMP SUBSCRIBE LINK // -->#}
{#			<p><strong>Office: mon-fri 10.00 - 16.30</strong><br />#}
{#			<em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum porttitor lacus.</em></p>#}
{#			<!-- Contact Form -->#}
{#			<h3>Contact Form</h3>#}
{#			<!-- Row Layout for forms -->#}
			<form action="{% url 'contact' %}" method="post">{% csrf_token %}
				<label>{{ form.sender.label }}</label>
{#				<input class="error"/>#}
				<input type="text" name="sender"
					{% if not form.sender.errors %}
						placeholder="example@mail.com"  />
					{% else %}
						class="error" placeholder="{{ form.sender.errors.as_text }}"/>
					{% endif %}
				<label>{{ form.subject.label }}</label>
				<input name="subject" type="text" class="twelve" placeholder="interested in flat 1234" />
				<textarea name="message" placeholder="Message"></textarea>
				<input type="submit" value="Send message" class="button success" />
			</form>
        </div>
		<div class="six columns">
				{% load easy_maps_tags %}
				{% easy_map "Russia, Ekaterinburg, Mira 32" 100% 400 %}
{#			<h3>Where to find us</h3>#}
{#				<iframe src=#}
{#				"http://maps.google.no/maps?f=q&amp;source=s_q&amp;hl=no&amp;geocode=&amp;q=Dieter+Schneider,+Hafstadvegen+34,+F%C3%B8rde&amp;aq=0&amp;oq=hafstadvegen+34+&amp;sll=61.450282,5.85535&amp;sspn=0.008368,0.027874&amp;g=hafstadvegen+34&amp;ie=UTF8&amp;hq=Dieter+Schneider,&amp;hnear=Hafstadvegen+34,+6800+F%C3%B8rde,+Sogn+og+Fjordane&amp;t=m&amp;ll=61.453106,5.857172&amp;spn=0.009536,0.019913&amp;z=15&amp;iwloc=A&amp;output=embed"#}
{#				style="width:400px; height:375px; border:0">#}
{#				</iframe><br />#}
{#			<small>#}
{#				<a style="color: #0000ff; text-align: left;" href=#}
{#				"http://maps.google.no/maps?f=q&amp;source=embed&amp;hl=no&amp;geocode=&amp;q=Dieter+Schneider,+Hafstadvegen+34,+F%C3%B8rde&amp;aq=0&amp;oq=hafstadvegen+34+&amp;sll=61.450282,5.85535&amp;sspn=0.008368,0.027874&amp;g=hafstadvegen+34&amp;ie=UTF8&amp;hq=Dieter+Schneider,&amp;hnear=Hafstadvegen+34,+6800+F%C3%B8rde,+Sogn+og+Fjordane&amp;t=m&amp;ll=61.453106,5.857172&amp;spn=0.009536,0.019913&amp;z=15&amp;iwloc=A">#}
{#				Enlarge map</a>#}
{#			</small>#}
		</div>
	</div>
</section>
        
{% endblock %}