{% extends "base.html" %}


{% block css %}
	{{ block.super }}
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="{{STATIC_URL}}css/magnific-popup.css">
	<!-- Magnific Popup developer init CSS file -->
	<link rel="stylesheet" href="{{STATIC_URL}}css/magnific-popup.init.css">
{% endblock %}

{% block content %}
<!-- ######################## Header ######################## -->
        
	<header>
		  <h2 class="heading_supersize">WHERE 2 STAY</h1>
		  <h3 class="welcome_text">Looking where to stay at Praha on holidays? Welcome to our tour!</h3>
	</header>

<!-- ######################## Section ######################## -->
     
   <section class="section_light">
   
		<div class="row">

			<div class="four columns">
				<h3><span class="dropcap_red lsf-icon-dropcap" title="camera"></span> Photos of iterior</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus, vel lacinia libero purus vitae risus.</p>
			</div>

        	<div class="four columns">
				<h3><span class="dropcap_red lsf-icon-dropcap" title="image"></span> Panorama of interior</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus, vel lacinia libero purus vitae risus.</p>
			</div>

			<div class="four columns">
				<h3><span class="dropcap_red lsf-icon-dropcap" title="map"></span> Location on Google map</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus, vel lacinia libero purus vitae risus.</p>
			</div>
        </div>
        
    </section>

<!-- ######################## Section ######################## -->

   <section  class="section_dark">
   
      <div class="row"> 
      
      <h2>Latest Photos by Our Members</h2>
      
          <div class="two columns">
			  <a class="th lightbox" href="{{STATIC_URL}}img/fun/tits1.jpg" title="Эмоции">
				  <img src="{{STATIC_URL}}img/fun/pre1.jpg" alt="Эмоции"></a>
			  </a>
          </div>

		  <div class="two columns">
          	<a class="th lightbox" href="{{STATIC_URL}}img/fun/tits2.jpg" title="Присмотрись">
				  <img src="{{STATIC_URL}}img/fun/pre2.jpg" alt="Присмотрись"></a>
          </div>

          <div class="two columns">
          	<a class="th lightbox" href="{{STATIC_URL}}img/fun/tits3.jpg" title="Климат">
				  <img src="{{STATIC_URL}}img/fun/pre3.jpg" alt="Климат"></a>
          </div>
          
          <div class="two columns">
          	<a class="th lightbox" href="{{STATIC_URL}}img/fun/tits4.jpg" title="Не отвертеться">
				  <img src="{{STATIC_URL}}img/fun/pre4.jpg" alt="Не отвертеться"></a>
          </div>
          
          <div class="two columns">
          	<a class="th lightbox" href="{{STATIC_URL}}img/fun/tits5.jpg" title="Разработка">
				  <img src="{{STATIC_URL}}img/fun/pre5.jpg" alt="Разработка"></a>
          </div>
          
          <div class="two columns">
          	<a class="th lightbox" href="{{STATIC_URL}}img/fun/tits6.jpg" title="Милаха">
				  <img src="{{STATIC_URL}}img/fun/pre6.jpg" alt="Милаха"></a>
          </div>

      
      </div>
      
    </section>
      
<!-- ######################## Section ######################## -->

<section class="section_main">

      <h2 style="text-align:center">Discover Hidden Treasures</h2>
      
      <div class="row">
      
          <article class="six columns">
                <div class="panel">
                    <h3>Lorem Ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus fermentum metus, id commodo sapien. Donec cursus fermentum metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus fermentum metus, id commodo sapien. Donec cursus fermentum metus.</p>
                  <a href="#" class="button secondary small radius">Learn More &raquo;</a>
                </div>
          </article>
          
              
          <article class="six columns">
                <div class="panel">
                    <h3>Lorem Ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus fermentum metus, id commodo sapien. Donec cursus fermentum metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus fermentum metus, id commodo sapien. Donec cursus fermentum metus.</p>
                  <a href="#" class="button secondary small radius">Learn More &raquo;</a>
                </div>
          </article>
  
      </div>
      
      
</section>
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="{{STATIC_URL}}js/jquery.magnific-popup.js"></script>
	<!-- Magnific Popup developer initiation -->
	<script src="{{STATIC_URL}}js/jquery.magnific-popup.init.js"></script>
{% endblock %}